body {
font-family: sans-serif;
margin: 40px;
background-color: hsl(144, 83%, 68%);
}

label {
display: block;
margin-bottom: 5px;
}

input[type="text"], textarea {
width: 50%;
padding: 10px;
border: 1px solid #7bc268;
border-radius: 5px;
margin-bottom: 15px;
} 

button[type="submit"] {
background-color: #c11d33;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

#output {
margin-top: 10px 20px;
border: 1px solid #ccc;
padding: 15px;
}
  
  
  
  
  img {
    float:right; /* Float the image to the right */
    width: 30%;   /* Adjust the width as needed */
    margin-left: 1%; /* Optional: Add space between form and image */
    height: 400px;
    padding: 1px;
    
  }
  


